@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500&display=swap");
body {
  font-family: 'Tajawal', sans-serif;
}

header {
  justify-content: center;
}

header h1 {
  font-size: 2.5em;
  font-family: 'Poiret One';
  margin: 25px 0;
}
